body {
    height: 100vh;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.top {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    
}
.logo {
    color:#F9FAF8;
    font-size: 24px;
    margin-left: -5%;
}
nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.top-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
   align-items: flex-start;
    
}
.text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.intro {
    color: #d3dacb;
    font-size: 26px;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #F9FAF8;
    border-radius: 10px;

}
.image {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

}
.middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: #F9FAF8;
    
}
.info {
    display: flex;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}
.items ul {
    display:flex;
    justify-content: space-around; 
    gap: 16px;
    padding: 20px;
      
}
.items li {
    list-style: none;
    border:  solid #3882F6;
    border-radius: 15px;
    width: 100%;
     
}

.Quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}
blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    margin: 100px;
    padding: 50px 250px;
    
}
.container {
    background-color: #F9FAF8;
    padding: 100px 250px;
    display: flex;
    justify-content: center;

    
}
.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: #3882F6;
    padding: 16px;
    border-radius: 10px;
    

}
.new-container {
    display: flex;
    flex-direction: column;
    color: #E5E7EB
}

footer {
    color: #E5E7EB;
    text-align: center;
    background-color: #1F2937;
    font-size: 20px;
    padding: 50px;
}